<div class="container">
  <h2 class="font-monospace mt-1 fw-bold">Your Notes</h2>
  <hr>
  <h5 class="font-monospace">Sample notes.-</h5>

  <div class="input-container">
    <input
      class="input"
      name="text"
      type="text"
      placeholder="Search by subject..."
      [(ngModel)]="searchQuery"
    />
  </div>
  
  <div class="row  align-center">
    <div 
      class="col-md-5 col-lg-4" 
      *ngFor="let card of cardData | filter: searchQuery : 'title'">
      <app-card 
        [title]="card.title" 
        [description]="card.description" 
        [pdfUrl]="card.pdfUrl">
      </app-card>
    </div>
  </div>
</div>
<app-footer />
<router-outlet></router-outlet>
